{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>inkHorn</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block styles %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
    <script src="https://use.fontawesome.com/3c9eeacadf.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        <a href="{% url 'home' %}"index.html"><h1><strong>ink</strong>Horn</h1></a>
        <a href="about.html"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
      </div>
    </header>
    <div class="content">
      <div class="container">

        {% block content %}
        {% endblock %}

      </div>
    </div>
    <!-- <footer>
      <div class="container">
        <p>Coded with <span style="color: #D75B46;">&lt;3</span> by <a href="https://github.com/scausey">Samantha</a></p>
      </div>
    </footer> -->
  </body>
</html>
