{% extends 'bookblog/base.html' %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %}

{% block content %}
<div class="recent-review">
  <div class="recent-review-content">
    <a class="mobile-text" href="{% url 'review_detail' pk=recent_review.pk %}"><h1>{{ recent_review.title }}</h1></a>
    <h4 class="mobile-text">{{ recent_review.date_published }}</h4>
    <img class="book-cover" src="{{ recent_review.book_cover }}" />
    <div class="recent-review-text">
      <a href="{% url 'review_detail' pk=recent_review.pk %}"><h1>{{ recent_review.title }}</h1></a>
      <h4>{{ recent_review.date_published }}</h4>
      <p>{{recent_review.book_review|linebreaksbr|truncatewords:150}}</p>
      <a href="{% url 'review_detail' pk=recent_review.pk %}" class="btn"><strong>Read More</strong></a>
    </div>
  </div>
</div>

<div class="currently-reading">
  <h1>Currently Reading: Tower of Dawn (Throne of Glass #6), by Sarah J. Maas</h1>
  <h4>Started December 18, 2017</h4>
  <div class="current-book-content">
    <div class="blurb">
      <p>In the next installment of the New York Times bestselling Throne of Glass series, follow Chaol on his sweeping journey to a distant empire.</p>
      <br />
      <p>Chaol Westfall has always defined himself by his unwavering loyalty, his strength, and his position as the Captain of the Guard. But all of that has changed since the glass castle shattered, since his men were slaughtered, since the King of Adarlan spared him from a killing blow, but left his body broken.</p>
      <br />
      <p>His only shot at recovery lies with the legendary healers of the Torre Cesme in Antica—the stronghold of the southern continent's mighty empire. And with war looming over Dorian and Aelin back home, their survival might lie with Chaol and Nesryn convincing its rulers to ally with them.</p>
      <br />
      <p>But what they discover in Antica will change them both—and be more vital to saving Erilea than they could have imagined.</p>
    </div>
    <div class="book-cover-container">
      <img class="book-cover" src="https://images.gr-assets.com/books/1497973101l/31450852.jpg" />
    </div>
  </div>
</div>

<div class="past-books-container">
  <h1>Recent Book Reviews</h1>
  <div id="mobile-past-books">
    <table>
      {% for book in past_books %}
      <tr>
        <td>
          <a href="{% url 'review_detail' pk=book.pk %}"><p>
            {{ book.title }}
          </p></a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <a href="{% url 'all_reviews' %}">
      <div class="more-books-btn">
        <span>...</span>
        <strong>MORE REVIEWS</strong>
        <span>...</span>
      </div>
    </a>
  </div>
  <div class="past-books">
    {% for book in past_books %}
    <a href="{% url 'review_detail' pk=book.pk %}"><img src="{{ book.book_cover }}" /></a>
    {% endfor %}
    <a href="{% url 'all_reviews' %}">
      <div class="more-books-btn">
        <span>...</span>
        <strong>MORE REVIEWS</strong>
        <span>...</span>
      </div>
    </a>
  </div>
</div>

<div class="about">
  <h1>About</h1>
  <div class="about-images">
    <span class="about-image-2">
      <img src="{% static 'images/holes.jpeg' %}" />
    </span>
    <span class="about-image-1">
      <img src="{% static 'images/me.jpeg' %}" />
    </span>
    <span class="about-image-3">
      <img src="{% static 'images/bookcon.jpg' %}" />
    </span>
  </div>
  <div class="about-content">
    <p>Hello! I'm Sam and I read past my bedtime. I live on a diet that mostly consists of young adult science fiction and fantasy. Like a lot of readers, I'm working on a handful of stories I want to throw out into the world in hopes that someone will like it.<p>
    <p>Margaret Atwood signed my copy of <a href="https://www.goodreads.com/book/show/38447.The_Handmaid_s_Tale"><em>A Handmaid's Tale</em></a> (picture above) at <a href="http://www.thebookcon.com/">BookCon</a> 2017 and I just about died right then and there. I was obsessed with Sarah J. Maas for a moment, but the craze has died down. My favorite recent YA series is <a href="https://www.goodreads.com/series/62018-the-lunar-chronicles"><em>The Lunar Chronicles</em></a> by Marissa Meyer. My favorite old-school fantasy book is <em><a href="https://www.goodreads.com/book/show/518848.Sabriel?ac=1&from_search=true">Sabriel</a></em>, by Garth Nix (and also the other two books in the series because I love the Disputable Dog). As you can tell, sometimes my best friend and I dress up as literary characters (<a href="https://www.youtube.com/watch?v=JLwyn8uQhkw">"Can ya hear the empty spaces?!"</a>).</p>
    <p>When I'm not reading, I'm teaching others how to code, or trying to build things like this website. Python is love. For real. If you like code too, check out my <a href="https://github.com/scausey">github</a>! You can find me other places online too: </p>
    <div class="social-media-icons">
      <!-- <a href="https://www.goodreads.com/user/show/3955921-samantha-louise" class="goodreads"><i class="fab fa-goodreads"></i></a> -->
      <a href="http://steamcommunity.com/id/enigmajane/"><i class="fa fa-steam-square fa-3x" aria-hidden="true"></i></a>
      <a href="https://twitter.com/causeys007"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
      <a href="https://www.pinterest.com/lovelittlelou3/"><i class="fa fa-pinterest fa-3x" aria-hidden="true"></i></a>
      <a href="https://github.com/scausey"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
{% endblock %}
