/* Universal styles */
* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100% !important;
  height: 100%;
}

body {
  background-color: #F2F5F7;
  font-size: 16px;
  height: 100%;
}

p {
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* header rules */
header {
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  font-family: 'Spectral SC', serif;
}

header i, header h1 {
  display: inline-block;
  width: 33%;
}

.fa-search, .fa-bars {
  color: grey;
}

header .fa-search {
  text-align: left;
}

header .fa-bars {
  text-align: right;
}

header h1 {
  text-align: center;
  font-size: 2.25rem;
}

.fa:hover {
  cursor: pointer;
}

/* main */
.content {
  margin-top: 30px;
  margin: 0 auto;
}
