.container {
  border: 4px dashed yellow;
}

/* recent-review */
.recent-review {
  background-color: #FFFFFF;
  margin: 10px 0px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 500px;
  padding: 20px 20px;
  padding-right: 50px;
  border: 2px solid green;
}

.book-cover {
  display: flex;
  max-width: 25%;
  margin: 10px 10px;
  margin-right: 30px;
  float: left;
  box-shadow: 0px 0px 35px #474747;
  border: 1px solid blue;
}

.recent-review h1 {
  margin-top: 15px;
}

.recent-review h4 {
  margin-bottom: 20px;
}

.recent-review a {
  display: inline-block;
  margin-top: 20px;
  border: 1px solid black;
  padding: 5px 70px;
}

.recent-review a:hover {
  cursor: pointer;
  display: inline-block;
  color: #FFFFFF;
  background-color: #000000;
}














/* List of books styles */
.content .row {
  margin: 20px 0px;
  max-height: 425px;
  text-align: center;
}

.content .row img {
  max-height: 415px;
  margin: 5px 20px;
  box-shadow: 0px 1px 2px #b0b0b0;
  transition: box-shadow 0.5s ease-in-out;
}

.content .row img:hover{
  box-shadow: 10px 10px 15px #b0b0b0;
  cursor: pointer;
}


/* About */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p a:hover {
  color: #D75B46;
}

.about {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.about-images {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #FFFFFF;
}

.about-image-1, .about-image-2, .about-image-3 {
  display: inline-block;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin: 20px;
}

.about-image-1 img, .about-image-2 img, .about-image-3 img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  visibility: hidden;
}

.about-image-1 {
  background-color: #D75B46;
}

.about-image-2 {
  background-color: #15A3A7;
}

.about-image-3 {
   background-color: #21C4C8;
}

.about-image-1:hover img, .about-image-2:hover img {
  visibility: visible;
}

.about-content {
  padding: 35px;
  background-color: #FFFFFF;
}

.about-content a {
  color: #D75B46;
}

.about-content p {
  margin-bottom: 20px;
}
