.clear { clear: both; }

/* BOOK REVIEW CONTAINER */
.book-review-container {
  background-color: #FFFFFF;
  margin: 10px 0px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: 30px 50px;
  padding-right: 50px;
  margin-bottom: 100px;
}

.book-cover {
  display: flex;
  max-width: 25%;
  margin: 10px 10px;
  margin-right: 40px;
  float: left;
  box-shadow: 0px 0px 25px #232323;
  margin-bottom: 25px;
}

.book-review-container h4 {
  margin-bottom: 20px;
}

.book-review-container .synposis {
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 20px;
  color: #E6BE8A;
}
